apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: localhost:5432
    database: {{ pg_database }}
    user: {{ pg_user }}
    jsonData:
      database: {{ pg_database }}
      sslmode: disable
      postgresVersion: {{ pg_version }}00
      timescaledb: true
    secureJsonData:
      password: {{ vault_pg_password }}
    isDefault: true
    editable: true
